<div class="w-[404px] pb-8 bg-white rounded-lg shadow-sm mr-[132px] border border-gray-100 box-content">

  <div class="flex items-center w-full px-8 py-4 bg-gray-100 rounded-t-lg">

    <p
      class="text-xl font-bold leading-7 text-gray-800 top-4 left-8"
    >Summary</p>

  </div>

  <div
    class="flex justify-between px-8 mt-8 mb-4"
  >
    <p class="text-base font-normal leading-6 text-gray-800">Subtotal</p>

    <p class="text-base font-bold leading-6 text-gray-800">{{format-currency
        this.cart.subtotal
      }}</p>

  </div>

  <div
    class="flex justify-between px-8"
  >
    <p class="text-base font-normal leading-6 text-gray-800">Shipping Cost</p>

    <p class="text-base font-bold leading-6 text-gray-800">{{format-currency
        this.cart.shippingCost
      }}</p>

  </div>

  <div
    class="flex justify-between px-8 mt-4 "
  >
    <p class="text-base font-normal leading-6 text-gray-800">Discount</p>

    <p class="text-base font-bold leading-6 text-gray-800">-{{format-currency
        this.cart.totalDiscount
      }}</p>

  </div>

  <hr class="my-8 border-gray-100" />

  <div
    class="flex justify-between px-8 "
  >
    <p class="text-xl font-normal leading-7 text-gray-800">Total Payable</p>

    <p class="text-xl font-bold leading-7 text-gray-800">{{format-currency
        this.cart.totalPayable
      }}</p>

  </div>

<div class="flex justify-end px-8 mt-[28px]">
  <button
    class="p-2 text-base font-bold leading-6 text-white rounded-lg shadow-sm bg-violet-700"
    type="button"
  >Go to Checkout</button></div>

</div>