<div class="w-[404px] h-[392px] bg-white rounded-lg shadow-sm mr-[132px]">

<div class="h-[60px] w-[403px] bg-gray-100 rounded-t-lg left-[1px]">

<p class="absolute text-xl font-bold leading-7 text-gray-800 top-4 left-8">Summary</p>   
  
</div>   

<div class="absolute w-[340px] h-[24px] left-8 top-[92px] flex justify-between">
<p class="text-base font-normal leading-6 text-gray-800 ">Subtotal</p>

<p class="text-base font-bold leading-6 text-gray-800 ">£{{this.cart.totalAmount}}</p>

</div>

<div class="absolute w-[340px] h-[24px] left-8 top-[132px] flex justify-between">
<p class="text-base font-normal leading-6 text-gray-800 ">Shipping Cost</p>

<p class="text-base font-bold leading-6 text-gray-800 ">£0</p>

</div>

<div class="absolute w-[340px] h-[24px] left-8 top-[172px] flex justify-between">
<p class="text-base font-normal leading-6 text-gray-800 ">Discount</p>

<p class="text-base font-bold leading-6 text-gray-800 ">-£1234</p>

</div>

<hr class="absolute top-[228px] left-[1px] w-[403px] border-gray-100 ">
    
<div class="absolute w-[340px] h-[24px] left-8 top-[264px] flex justify-between">
<p class="text-xl font-normal leading-7 text-gray-800 ">Total Payable</p>

<p class="text-xl font-bold leading-7 text-gray-800 ">£{{this.cart.totalAmount}}</p>

</div>

<button class="absolute w-[188px] h-[40px] top-[320px] left-[182px] rounded-lg bg-violet-700 shadow-sm text-white font-bold text-base leading-6">Continue to Checkout</button>
    
</div>