<div class="absolute top-0 right-0 p-4">
  <div class="flex items-center justify-center h-8 p-2 text-xs font-medium text-teal-900 bg-teal-100 rounded-lg whitespace-nowrap">{{@product.promotion}}</div>
</div>