<div class="mt-16">
  <h1 class="text-4xl font-medium leading-10 text-gray-800 ">{{@heading}}</h1>
  <h3 class="mt-2 text-xl font-normal leading-7 text-gray-800 whitespace-nowrap">
    {{#if @subheadingTemplate}}
      {{format-subheading @subheadingTemplate this.quantity}}
    {{else}}
      {{@subheading}}
    {{/if}}
  </h3>
</div>
