<div class="absolute right-0">
            <div class="w-[40px] h-[40px] bg-gray-50 shadow-sm rounded-lg flex items-center justify-center space-x-4">
              <HeroIcon class="w-6 h-6 text-gray-800" @icon="shopping-cart" @type="outline"/>
            </div>
            </div>