{{#if (eq this.cart.quantity 0)}}
    <div data-test-shopping-cart-empty class="w-[40px] h-[40px] bg-gray-50 shadow-sm rounded-lg flex items-center justify-center space-x-2">
      <HeroIcon class="w-6 h-6 text-gray-800" @icon="shopping-cart" @type="outline"/>
    </div> 
  {{else}}
  <LinkTo data-test-shopping-cart-full @route="shopping-cart">
    <div class="w-[auto] h-[40px] bg-gray-50 shadow-sm rounded-lg flex items-center justify-center space-x-2 px-2">
      <HeroIcon class="w-6 h-6 text-violet-700" @icon="shopping-cart" @type="outline"/>
      <div data-test-shopping-cart-quantity class="w-[27px] h-[24px] bg-white rounded-[20px] text-violet-700 font-bold leading-6 text-base justify-center flex">
        {{this.cart.quantity}}
      </div>
      <div data-test-shopping-cart-total class="text-base font-normal leading-6 text-violet-700">{{format-currency this.cart.totalPayable}}</div>
    </div>
    </LinkTo>
  {{/if}}




