<nav class="bg-white border border-b border-gray-200 h-[72px] w-[1440px] mx-auto">
  <div class="bg-green-300 sm:px-6 lg:px-8">
    <div class="relative flex items-center justify-between h-16 bg-blue-300">
      
        
          <div class="flex items-center justify-between">
            <img class="w-[147.28px] h-[32px]" src="images/logo.png" alt="">
            
            <div class="mx-12 ">
            <ShoppingCart @quantity={{this.cartQuantity}}/>
            </div>
            
          </div>
        
      
    </div>
  </div>
</nav>