<nav class="bg-white border border-b border-gray-200 h-[72px] w-full">
  <div class="px-2 mx-auto max-w-7xl sm:px-6 lg:px-8">
    <div class="relative flex items-center justify-between h-16">
      <div class="flex items-center justify-start flex-1 sm:items-stretch sm:justify-start">
        <div class="hidden sm:ml-6 sm:block">
          <div class="flex items-center justify-start space-x-4">
            <img class="w-[147.28px] h-[32px]" src="images/logo.png" alt="">
            
            
            <ShoppingCart @quantity={{this.cartQuantity}}/>
            
            {{!-- <LinkTo @route="index" class="px-3 py-2 text-sm font-medium text-white rounded-md hover:bg-gray-700 hover:text-white">Home</LinkTo>
            <LinkTo @route="products" class="px-3 py-2 text-sm font-medium text-white rounded-md hover:bg-gray-700 hover:text-white">Products</LinkTo> --}}
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>