<div class="h-[72px] w-full mx-auto border-b border-gray-200">
<nav class="bg-white border-b border-gray-200 h-[72px] w-[1440px] mx-auto">
    <div class="relative flex items-center justify-between mx-12">
          <div class="flex justify-between my-4">
            <img class="w-[147.28px] h-[32px] " src="images/logo.png" alt="">
            
            <div>
            <ShoppingCart @quantity={{this.cartQuantity}}/>
            </div>
            
          </div>
    </div>
</nav>
</div>